* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: rgba(229, 84, 115, 0.10);
   
}

.banner{
    display: flex;
    align-items: center;
    padding: 30px 30px 30px 150px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;  
}
.banner-description {
    color: rgba(39, 39, 39, 0.60);
    width: 508px;
    /* height: 288px; */
  
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    color: white;
    border: 0;
    font-size:20px ;
    font-weight: 700;
    padding: 20px 43px 20px 43px;

}

          /*  2nd div */
.section-title{
    text-align: center;
}
.section-discription{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}
.about{
    width: 1920px;
height: 4867px;
}