* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: rgba(229, 84, 115, 0.10);

}

.banner {
    display: flex;
    align-items: center;
    padding: 30px 30px 0px 150px;
    justify-content: space-around;

}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    width: 508px;
    
    margin-top: 2%;

}


.btn-primary {
    border-radius: 5px;
    background: #E55473;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px 20px 43px;
    margin-top: 2%;

}

/* main section */
/* About section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}


.about {
    padding: 130px;
    border-radius: 10px;
    background: rgba(229, 84, 115, 0.10);
    margin: 130px 0;
}

.section-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 100px;
    color: #272727;
    font-family: Lato;

}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-bottom: 130px;
    font-family: Lato;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}


.working-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    margin-top: 0px;
}

.working-discription {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 50px;

}

.choose {
    display: flex;
    text-align: center;
    gap: 10px;

}

.pink-item {
    padding: 30px 30px 0px 30px;
    margin-bottom: 0px;

}

.pink {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    
}

.flower {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.tree {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* discount styles */
.discount{
    padding: 130px 0px 130px 0px ;
    margin:  0 ;
    border-radius: 10px;
    
}

.discount-banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 30px 30px 0px 150px;
    
}
/* contact styles */
.contact{
    background-image: url('../Rectangle\ 9.png');
    background-repeat: no repeat;
    padding: 30px 30px 30px 150px;
    
}
.contact-input{
    width: 50%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
/* footer */
footer{
    background-color: black;
    padding: 100px;
    
}
.footer-title{
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    margin-top: 0px;
    color: whitesmoke;
}
.footer-discription{
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 50px;
    color: whitesmoke;
}
.design{
    color: #E55473;
}



